.regular-carousel .swiper-button-prev {
  left: 0 !important;
  background-image: url("../../public/home/LeftArrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px;
  height: 40px;
}

#quick-facts .swiper-button-prev {
  left: 0 !important;
  background-image: url("../../public/home/LeftArrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px;
  height: 40px;
  top: 100px;
}

.regular-carousel .swiper-button-prev::after {
  display: none;
}

#quick-facts .swiper-button-prev::after {
  display: none;
}

.regular-carousel .swiper-button-next {
  right: 0 !important;
  background-image: url("../../public/home/RightArrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px;
  height: 40px;
}

#quick-facts .swiper-button-next {
  right: 0 !important;
  background-image: url("../../public/home/RightArrow.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px;
  height: 40px;
  top: 100px;
}

.regular-carousel .swiper-button-next::after {
  display: none;
}

#quick-facts .swiper-button-next::after {
  display: none;
}

@media only screen and (max-width: 500px) {
  .regular-carousel .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #quick-facts .swiper-button-prev,
  .swipper-button-next {
    display: none;
  }
}
@media only screen and (min-width: 1600px) {
  .regular-carousel .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  #quick-facts .swiper-button-prev,
  .swipper-button-next {
    width: 50px;
    height: 50px;
  }
}
